# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [9]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01   2.0  18.3
1  USC00519397  2010-01-02   0.0  17.2
2  USC00519397  2010-01-03   0.0  23.3
3  USC00519397  2010-01-04   0.0  24.4
4  USC00519397  2010-01-06   NaN  22.8

In [12]:
df.dtypes

station     object
date        object
prcp       float64
tobs       float64
dtype: object

In [17]:
# Convert the date column format from string to datetime

df_datetime = pd.to_datetime(df.date)

df_datetime

0       2010-01-01
1       2010-01-02
2       2010-01-03
3       2010-01-04
4       2010-01-06
           ...
19545   2017-08-19
19546   2017-08-20
19547   2017-08-21
19548   2017-08-22
19549   2017-08-23
Name: date, Length: 19550, dtype: datetime64[ns]

In [16]:
df.dtypes

station     object
date        object
prcp       float64
tobs       float64
dtype: object

In [ ]:
# Set the date column as the DataFrame index

In [ ]:
# Drop the date column

### Compare June and December data across all years

In [ ]:
from scipy import stats

In [ ]:
# Filter data for desired months

In [ ]:
# Identify the average temperature for June

In [ ]:
# Identify the average temperature for December

In [ ]:
# Create collections of temperature data

In [ ]:
# Run paired t-test

### Analysis